############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Virtual Environments
############################
venv/
env/
.venv/
ENV/

############################
# Jupyter Notebooks
############################
.ipynb_checkpoints/

############################
# PyTorch
############################
*.pt
*.pth
*.ckpt

############################
# Logs
############################
logs/
*.log
tensorboard/
runs/

############################
# Dataset (VERY IMPORTANT)
############################
data/raw/
data/archive/
processed/

############################
# Large Files
############################
*.nii
*.nii.gz
*.npy
*.tar
*.zip

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# IDE Files
############################
.idea/
.vscode/
*.iml

############################
# Misc
############################
*.csv
*.pkl
*.h5
*.tmp